@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#000;
  color:#fff;

  font-family:'Inter',sans-serif;

  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:20px;
}

/* CONTAINER */
.container{
  width:100%;
  max-width:450px;
}

/* VOLTAR */
.back{
  display:flex;
  align-items:center;
  gap:6px;

  margin-bottom:35px;
}

.back .material-icons{
  color:#b7b7b7;
  font-size:20px;
}

.back-link{
  text-decoration:none;
  color:#b7b7b7;

  font-size:15px;
  font-weight:500;
}

/* LOGO */
.logo-area{
  text-align:center;
  margin-bottom:28px;
}

.logo-icon{
  width:84px;
  height:84px;

  background:#ff932f;

  border-radius:18px;

  display:flex;
  justify-content:center;
  align-items:center;

  margin:0 auto 20px;
}

.logo-icon .material-icons{
  color:#000;
  font-size:42px;
}

/* TITULO */
.logo-area h1{
  font-size:58px;
  font-weight:800;

  margin-bottom:10px;
}

.subtitle{
  color:#a0a0a0;
  font-size:16px;
}

/* CARD */
.card{
  background:linear-gradient(145deg,#171717,#111);

  border:1px solid #242424;

  border-radius:16px;

  padding:32px;
}

/* INPUTS */
.input-group{
  margin-bottom:24px;
}

label{
  display:block;

  font-size:14px;
  font-weight:700;

  margin-bottom:10px;

  color:#fff;
}

input{
  width:100%;

  font-family: 'Inter', system-ui, -apple-system, sans-serif;

  height:56px;

  background:#151515;

  border:1px solid #2a2a2a;

  border-radius:10px;

  padding:0 18px;

  color:#fff;

  outline:none;

  font-size:16px;

  transition:0.2s;

   outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #151515 inset !important;
  -webkit-text-fill-color: #fff !important;
  
}

input::placeholder{
  color:#8f8f8f;
}

input:focus{
  border-color:#ff932f;
}

/* BOTÃO */
button{
  width:100%;
  height:58px;

  border:none;
  border-radius:10px;

  background:#ff932f;

  color:#000;

  font-size:18px;
  font-weight:bold;

  cursor:pointer;
font-family: 'Inter', system-ui, sans-serif;
  transition:0.7s;
}

button:hover{
  opacity:0.92;
  border-color: #ff932f;
}

/* ========================= */
/* MOBILE */
/* ========================= */

@media(max-width:480px){

  body{
    align-items:flex-start;
    padding:28px 16px;
  }

  .container{
    max-width:100%;
  }

  /* VOLTAR */
  .back{
    margin-bottom:26px;
  }

  .back-link{
    font-size:15px;
  }

  /* LOGO */
  .logo-icon{
    width:68px;
    height:68px;

    border-radius:16px;

    margin-bottom:18px;
  }

  .logo-icon .material-icons{
    font-size:36px;
  }

  .logo-area h1{
    font-size:35px;
  }
  .tituloCriar{
    font-size: 35px;
  }

  .subtitle{
    font-size:14px;
  }

  /* CARD */
  .card{
    padding:28px;
    border-radius:14px;
  }

  input{
    height:52px;
    font-size:15px;
  }

 

  button{
    height:54px;
    font-size:15px;
  }
}